/* Fix the initial padding */
body, html {
    padding: 0;
    margin: 0;
}

/* Default styles for the document */

body {
    color: black;
    font-family: sans-serif;
    font-size: 14pt;
}

/* The header bar */
header {
    color: white;
    background-color: #050505;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: sticky;
    padding: 0 1em;

    box-shadow: 0 0 0.5em black;
}

header a {
    color: inherit;
    text-decoration: none;
    margin-left: 1em;
}

header span a {
    font-size: 18pt;
}

/* The container with the page's content */
.container {
    padding: 1em;
}