html {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-image: url("cool-background.png")
}

#mainBlock {
  width: 90%;
  float: center;
  align: center;
  padding: 30px;
  color: white;
  /* background-color: rgb(255,192,203); */
}


h1 {
  padding-left: 30px;
}


.event{
  border: 3px solid white;
  border-radius: 10px;
  padding-left: 30px;
}

.img1 {
  padding-left: 800px;
}
