html {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-image: url("cool-background.png")
}

#mainBlock {
  float: center;
  align: center;
  padding: 30px;
  color: white;
  /* background-color: rgb(255,192,203); */
}

h1 {
  padding-left: 30px;
}

.user {
  border: 3px solid white;
  display:flex;
  border-radius: 10px;
  padding-left: 30px;
}

h2 {
  width: 30%;
}

p {
  width: 20%;
}
