

.user {
  color: white;
  border: 3px solid black;
  padding:100px;
  background-image: linear-gradient(141deg, #bbf95a 0%, #03ffcd 51%, #00E2FF 75%)
}

#name {
  font-weight: bold;
  font-size: 40px;
  padding-top: 50px;
}

.about {
  font-weight: bold;
  font-size: 20px;
  padding-top: 50px;
  height: 200px;

}



.about span{
  display: inline-block;
}
