<!DOCTYPE html5>
<html>
  <head>
    <title>Volunteering @ RPI - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
      <a href="/"><h1>Volunteering <small>@ RPI</small></h1></a>
      <a href="/organizations">Organizations</a>
      <a href="/leaderboard">Leaderboard</a>
      <span>
        {% if username %}
        <a href="/user/{{username}}">{{username}}</a>
        {% else %}
        <a href="/login">Log In</a>
        {% endif %}
      </span>
    </header>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
