<!DOCTYPE html5>
<html>
  <head>
    <title>Volunteering @ RPI - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/base.css">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
        <a class="navbar-brand " href="/">Volunteering <small>@</small> RPI</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leaderboard">Leaderboard</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item active">
            {% if username %}
            <a class="nav-link" href="/user/{{username}}">{{username}}</a>
            {% else %}
            <a class="nav-link" href="/login">Log In</a>
            {% endif %}
          </li>
        </ul>
      </nav>

    </header>
    <div class="container">
      <br><br>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
