{% extends "base.html" %}

{% block title %}Create Organization{% endblock %}

{% block body %}
<div class="center">
  <div class="jumbotron text-center w-50">
    <h2>Create Org<h2>
  </div>
</div>

<form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" required/ >
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" class="form-control" required/ >
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" name="website" class="form-control" required/ >
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" name="image" class="form-control" required/ >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
