{% extends "base.html" %}

{% block title %}Event - {{eventData.eventName}} {% endblock %}


{% block body %}
<div class="center">
  <div class="jumbotron text-center w-50">
    <h2 class="text-danger">Event Page<h2>
  </div>
</div>
<div class="center">
  {% if eventData|length > 0 %}
  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h2 class="card-title">{{eventData.eventName}}</h2>
      <p class="card-text">{{eventData.description}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Organization: <a href="/org/{{orgData.id}}">{{orgData.orgName}}</a></li>
        <li class="list-group-item">Location: {{eventData.location}}</li>
        <li class="list-group-item">Duration: {{eventData.eventDuration}} hours</li>
        <li class="list-group-item">Date: {{eventData.eventDate}}</li>
      </ul>
    </div>
  </div>
</div>

</br>

{% else %}
<h2>Event {{eventid}} not found.</h2>
{% endif %}


{% endblock %}
