{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/style/index.css">{% endblock %}

{% block body %}
<div id = "mainBlock">
<!-- How can I greet using the user's RCS id? -->

<div class="jumbotron text-center">
  <h1 class="display-4">RPI Volunteering<h1>
</div>
<h1>Welcome {{username}}</h1>
<!-- <img src="/style/volunteering1.jpeg" class = "img1" width = "600", height = "400" alt="people holding hands"> -->
<div class="event">
  <h2>Human Rights Week</h2>
  <p>Human Rights Group</p>
  <p>Take advantage of this event to help your peers!</p>
  <p>November 7th 1:30pm at Lally 102</p>
</div>

<div class="event">
  <h2>Name of Event</h2>
  <p>Organization Name</p>
  <p>Brief Description</p>
  <p>Time and Place</p>
</div>

</div>


{% endblock %}
