{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div id = "mainBlock">
<div class="center">
  <div class="jumbotron text-center w-50">
    <img src="/style/rpi.png" class="logo rounded-circle">
    <h2 class="text-danger">RPI Volunteering<h2>
  </div>
</div>

<!-- <img src="/style/volunteering1.jpeg" class = "img1" width = "600", height = "400" alt="people holding hands"> -->

<div class="container">
  <h3 class="text-danger pl-5 display-4" >Welcome {{username}}</h3>

  <div class="list-group event">
    <div class="col m-5">
    <h2 class="font-italic text-danger" >Events</h2>
    {% for event in events %}
      <div class="bd-callout bd-callout-info">
        <a href="/event/{{event[0]}}">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{event[1]}}</h4>
            <small class="text-success">{{event[7]}}</small>
          </div>
          <p class="mb-1">{{event[3]}}</p>
          <small>@{{event[4]}}</small>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>

</div>


{% endblock %}
