{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/style/index.css">{% endblock %}

{% block body %}
<div id = "mainBlock">

<div class="jumbotron text-center">
  <h2 class="display-4 text-danger">RPI Volunteering<h2>
</div>

<!-- <img src="/style/volunteering1.jpeg" class = "img1" width = "600", height = "400" alt="people holding hands"> -->

<div class="container">
  <h1>Welcome {{username}}</h1>
  <div class="row">
    {% for event in events %}
    <div class="col m-5">
      <h3>{{event[1]}}</h3> <!-- Event name -->
      <p>{{event[2]}}</p> <!-- Organization -->
      <p>{{event[3]}}</p>  <!-- Description --> 
      <p>{{event[4]}} at {{event[6]}}</p>  <!-- Time and Location -->
    </div>
    {% endfor %}
  </div>
<div>

</div>


{% endblock %}
