{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
<div id = "mainBlock">
<div class="center">
  <div class="jumbotron text-center w-50">
    <h2 class="text-danger">Volunteer Hours Leaderboard<h2>
  </div>
</div>

<div class="list-group event">
  <div class="col m-5">
  <h2 class="font-italic text-danger" >Leaderboard</h2>
  {% for user in users %}
      <div class="bd-callout bd-callout-danger">
        <a href="/user/{{user[0]}}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-info">{{user[1]}}</h5>
            <small class="text-success">Hours Volunteered: {{user[3]}}</small>
          </div>
          <p class="mb-1">{{user[2]}}</p>
        </a>
      </div>

  {% endfor %}

  </div>
</div>

</div>
{% endblock %}
