{% extends "base.html" %}

{% block title %}{{orgData.orgName}}{% endblock %}

{% block body %}
<h1>Org Page</h1>

{% if orgData|length > 0 %}
<div class="user">
  <img src="{{orgData.imageURL}}"/>
  <div class="center">
    <div class="jumbotron text-center w-50">
      <h2 class="text-danger">{{orgData.orgName}}'s page<h2>
    </div>
  </div>
  <div class="about">
    <p>Description: {{orgData.description}} </p>
    <p>Website: {{orgData.website}}</p>
    <p>Admin: {{orgData.adminID}}</p>
  </div>
</div>
<div class="list-group event">
  <div class="col m-5">
  <h2 class="text-primary" >Events</h2>
  {% for event in events %}
    <a href="/event/{{event[0]}}" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 text-info">{{event[1]}}</h5>
        <small class="text-success">{{event[7]}}</small>
      </div>
      <p class="mb-1">{{event[3]}}</p>
      <small>@{{event[4]}}</small>
    </a>
  {% endfor %}
  {% if event|length == 0 %}
  <p>No events found.</p>
  {% endif %}

  </div>
</div>

{% else %}
<h2>Organization {{orgid}} not found.</h2>
{% endif %}


{% endblock %}
