{% extends "base.html" %}

{% block title %}{{orgData.orgName}}{% endblock %}

{% block body %}

<div class="center">
  <div class="jumbotron text-center w-50">
    <h2 >{{orgData.orgName}}'s Page<h2>
  </div>
</div>

{% if orgData|length > 0 %}
<div class="center card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Description: {{orgData.description}}</li>
      <li class="list-group-item">Website: <a href="{{orgData.website}}">{{orgData.website}}</a></li>
      <li class="list-group-item">Admin: <a href="/user/{{pres.rcsID}}">{{pres.fullName}}</a></li>
    </ul>
</div>
<div class="list-group event">
  <div class="col m-5">
  <h2 class="text-primary" >Events</h2>
  {% for event in events %}
    <a href="/event/{{event[0]}}" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 text-info">{{event[1]}}</h5>
        <small class="text-success">{{event[7]}}</small>
      </div>
      <p class="mb-1">{{event[3]}}</p>
      <small>@{{event[4]}}</small>
    </a>
  {% endfor %}

  </div>
</div>

{% else %}
<h2>Organization {{orgid}} not found.</h2>
{% endif %}


{% endblock %}
