{% extends "base.html" %}

{% block title %}Organizations{% endblock %}

{% block body %}
<div id = "mainBlock">
<div class="center">
  <div class="jumbotron text-center w-50">
    <h2 class="display-4 text-danger">Organizations<h2>
  </div>
</div>

{% for org in organizations %}
<div class="jumbotron text-center">
  <h3 class="text-danger"><a href="/org/{{org[0]}}">{{org[1]}}</a></h3>
  <p>President: {{org[4]}}</p>
  <!-- TODO: Turn Admin username into name -->
  <p>{{org[2]}}</p>
</div>
{% endfor %}

</div>

{% endblock %}
