{% extends "base.html" %}

{% block title %}Organizations{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/style/organizations.css">{% endblock %}

{% block body %}
<div id = "mainBlock">
<h1>Organizations Page</h1>

{% for org in organizations %}
<div class="container-fluid bg-1">
  <div class="row pt-5">
    <div class="col-sm-4">
      <!-- TODO: Add URL to organizations DB -->
      <img src="/style/rpiambulance.png" class="img-responsive">
    </div>
      <div class="col-sm-8">
        <h2>{{org[1]}}</h2>
        <!-- TODO: Turn Admin username into name -->
        <p>President: {{org[4]}}</p> 
        <p>{{org[2]}}</p>
      </div>
  </div>
</div>
{% endfor %}

</div>

{% endblock %}
