{% extends "base.html" %}

{% block title %}{{user}} homepage{% endblock %}

{% block body %}
<div id = "mainBlock">

<h1>User Page</h1>

{% if userData|length > 0 %}
<div class="user">
  <h2>{{userData.fullName}}'s page</h2> 
  <div class="about">
    <p >About me: {{userData.about}} </p>
    <p> Hours Volunteered: {{userData.hours}} </p> <!-- Hours volunteered -->
  </div>
</div>
</br>
<button><a href="/logout">Logout</a></button>
</div>
{% else %}
<h2>User {{user}} not found.</h2>
{% endif %}

{% endblock %}
