{% extends "base.html" %}

{% block title %}{{user}} homepage{% endblock %}

{% block body %}
<div id = "mainBlock">
<div class="center">
  <div class="jumbotron text-center w-50">
    <h2>User Page<h2>
  </div>
</div>

<div class="center">
  {% if userData|length > 0 %}
  <div class="card">
    <div class="card-header font-italic text-danger">
      Rensselaer Polytechnic Institute
    </div>
    <div class="card-body">
      <h2 class="card-title text-primary">{{userData.fullName}}'s page</h2>

      <h6 class="card-subtitle mb-2 text-muted">{{userData.hours}} Hour Volunteering </h6>
      <br>
      <p class="card-text">About me: {{userData.about}} </p>
      <br>
      <a href="/logout" class="btn btn-primary active" role="button" aria-pressed="true">Log out</a>
    </div>
  </div>
  {% else %}
  <h2>User {{user}} not found.</h2>
  {% endif %}
</div>

{% endblock %}
