{% extends "base.html" %}

{% block title %}{{user}} homepage{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/style/user.css">{% endblock %}

{% block body %}
<div id = "mainBlock">

<h1>User Page</h1>

<div class="user">
  <h2>{{user}}'s page</h2>
  <div id="name">
    <p>Name:</p>
  </div>
  <div class="about">
    <span >About me:</span>
    <span>An RPI student taking Websys. </span>
  </div>
</div>
</br>
<button><a href="/logout">Logout</a></button>
</div>

{% endblock %}
