/* Fix the initial padding */

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("/style/rpi.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: white;
}

.event:first {
  background: blue;
}

.center {
    display:flex;
    justify-content: center;
}
